{% extends "my_admin/admin-base-layout.html" %}
{% load static %}

{% block title %}Phone lineup Admin Login{% endblock title %}
{% block navbar %} {% endblock navbar %}
{% block content %}
  <div class="login-wrapper">
    <h2><a href="{% url 'admin' %}" class="admin-home-title">Phone Lineup Admin</a></h2>
    <form action="{% url 'admin-login' %}" method="POST" class="login-form">
      {% csrf_token %}
      <h3 class="login-title">Admin Login</h3>
      {% if is_authenticated == False %}
        <div class="auth-failure">Invalid user credentials</div>
      {% endif %}
      <div class="input-field">
        <label for="username">Username:</label>
        <input type="text" name="username">
      </div>
      <div class="input-field">
          <label for="password">Password:</label>
          <input type="password" name="password">
      </div>
      <div class="input-field">
        <input type="checkbox" name="remember">
        <label for="remember">Remember login</label>
      </div>

      <div class="input-field">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
{% endblock content %}
<!-- javscript -->
